# Apple Health exports + personal outputs
export.xml
export_cda.xml
*.zip

# If you keep exports in a folder
apple_health_export/

# Common
__pycache__/
*.pyc
.DS_Store
.venv/
venv/
.env
secrets/
bin/
include/
lib/
pyvenv.cfg

